@import "../../sass/main.scss";
.hero {
	color: #fff;
	position: relative;
	.pagetitleh1 {
		font-size: 0;
		width: 1px;
		height: 1px;
		display: inline-block;
		overflow: hidden;
		position: absolute !important;
		border: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		clip: rect(1px, 1px, 1px, 1px);
	}

	&__content {
		padding-top: 25.5px;
		position: relative;
		background-color: $purple;
	}

	&__curve {
		position: absolute;
		left: 0;
		width: 100%;
	}
	&__title {
		max-width: 580px;
		margin-left: auto;
		margin-right: auto;
		font-size: 3.4rem;
		font-weight: 600;
		color: #333333;
		text-align: center;
		line-height: 135%;
		display: block;
		height: 148.5px;
		span {
			font-weight: 900;
			color: #fff;
		}
	}
	&__buttons {
		text-align: center;
		margin-top: 110px;
		padding-bottom: 60px;
		a:first-of-type {
			margin-right: 20px;
		}
	}
	&__laptop {
		width: 100vw;
		width: 100%;
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		display: block !important;
	}
}
